.wp-block-formello-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    &[hidden] {
        display: none;
    }

    button {
        display: flex;
        align-items: center;
        border-radius: inherit;
        border: inherit;
        font-weight: inherit;
    }

    button[hidden] {
        display: none;
    }

    span {
        transition: all 0.2s;
        opacity: 1;
    }

    svg {
        display: none;
        margin: 0 0.3em;
        width: 1em;
        transition: all 0.5s;
        transform: scale(1.3);

        path,
        rect {
            fill: currentcolor;
        }
    }

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    &.wide {
        button {
            flex-grow: 1;
            justify-content: center;
        }
    }

}

.wp-block-formello-button--loading {
    cursor: revert;

    span {
        margin-right: 5px;
    }

    svg {
        display: block;
    }
}

@keyframes button-loading-spinner {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
