.wp-block-formello-select {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;

    select {
        max-width: 100%;
        box-sizing: border-box;
    }

    label span.required {
        color: red;
        margin: 0 5px;
        font-weight: normal;
    }
}
